---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 15" subtitle="Incrementing Counter">
  <div class="container">
    <div class="box">
      <span class="image">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          style="fill: currentColor"
          ><path
            d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"
          ></path></svg
        >
      </span>
      <p class="cont-twitter cont">12000</p>
      <p class="description">Twitter Followers</p>
    </div>
    <div class="box">
      <span class="image">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          style="fill: currentColor"
          ><path
            d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z"
          ></path></svg
        >
      </span>
      <p class="cont-youtube cont">5000</p>
      <p class="description">YouTube Subscribers</p>
    </div>
    <div class="box">
      <span class="image">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          style="fill: currentColor"
          ><path
            d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z"
          ></path></svg
        >
      </span>
      <p class="cont-facebook cont">7500</p>
      <p class="description">Facebook Fans</p>
    </div>
  </div>
</LayoutProyecto>

<style>
  .container {
    display: flex;
    height: 70vh;
    background-color: var(--naranja-claro);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }

  .box {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .image {
    width: 50px;
    height: 50px;
  }

  .cont {
    font-size: 48px;
    font-family: monospace;
    font-weight: bold;
  }

  .description {
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
  }
  @media (max-width: 500px) {
    .container {
      flex-direction: column;
      height: fit-content;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const contadores = document.querySelectorAll(".cont");

    if (contadores) {
      contadores.forEach((element) => {
        contador(element);
      });
    }

    function contador(element) {
      let fin = parseInt(element.textContent);
      let i = 0;
      const interval = setInterval(() => {
        element.textContent = i;

        if (i > 1000) {
          i += 50;
        } else {
          i += 5;
        }

        if (i >= fin) {
          clearInterval(interval); // Detiene el intervalo cuando i alcanza 100
          element.textContent = fin;
        }
      }, 5);
    }
  });
</script>
