---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 20" subtitle="Button Ripple Effect">
<div class="container dia20">

</div>
</LayoutProyecto>

<style>

    .dia20 {
      display: flex;
      min-height: 70vh;
    }



  @media (max-width: 500px) {
  .container {
    flex-direction: column;
  }  
  }

</style>

<script>
document.addEventListener("astro:page-load", () => {

});
</script>