---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 20" subtitle="Button Ripple Effect">
  <div class="container dia20">
    <div class="btn">CLICK ME</div>
  </div>
</LayoutProyecto>

<style is:inline>
  .dia20 {
    display: grid;
    min-height: 70vh;
    place-content: center;
    background-color: var(--azul-oscuro);
  }

  .btn {
    width: 300px;
    padding: 1.5rem 3rem;
    color: #fff;
    background-color: var(--celeste-oscuro);
    display: grid;
    place-content: center;
    user-select: none;
    font-size: 2rem;
    position: relative;
    overflow: hidden;
  }

  .wave {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #fff;
    border-radius: 50%;
    animation: wave 0.5s ease-out both;
  }

  @keyframes wave {
    0% {
      scale: 5%;
    }

    1% {
      scale: 2%;
    }

    100% {
      scale: 150%;
      opacity: 0;
      visibility: hidden;
    }
  }

  @media (max-width: 500px) {
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const btn = document.querySelector(".btn");

    if (btn) {
      btn.addEventListener("click", (event) => {
        btn.childNodes.forEach((element, i) => {
          if (i != 0) {
            btn.removeChild(element);
          }
        });

        //@ts-ignore
        const x = event.offsetX;
        //@ts-ignore
        const y = event.offsetY;

        const span = document.createElement("span");
        span.classList.add("wave");
      
        span.style.top = `calc(${y}px - 150px)`;
        span.style.left = `calc(${x}px - 150px)`;

        btn.appendChild(span);

        //console.log(`Clicked at position:  Y: ${y}, X: ${x}`);
      
      });
    }
  });
</script>
