---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 36" subtitle="Hoverboard">
  <div class="container dia36">
    
  </div>
</LayoutProyecto>

<style>
  .dia36 {
    min-height: 70vh;
    display: grid;
    place-content: center;
  }

</style>

<script>
  document.addEventListener("astro:page-load", () => {
    
  });
</script>
