---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 36" subtitle="Hoverboard">
  <div class="container dia36"></div>
</LayoutProyecto>

<style is:inline>
  .dia36 {
    margin-top: 1rem;
    padding: 16px;
    width: fit-content;
    min-height: 70vh;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(20, 1fr);
    gap: 5px;
    background-color: #1d1d1d;
  }

  .dia36 span {
    background-color: #464646;
    height: 16px;
    width: 16px;
  }

  @media (max-width: 600px) {
    .dia36 {
      margin-top: 1rem;
      padding: 10px;
    }

    .dia36 span {
      height: 15px;
      width: 15px;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const container = document.querySelector(".dia36");

    createGrid();

    function createGrid() {
      for (let i = 0; i < 500; i++) {
        const span = document.createElement("span");
        container.appendChild(span);
      }
    }

    const spans = document.querySelectorAll(".dia36 span");

    spans.forEach((span) => {
      span.addEventListener("mouseenter", () => hover(span));
      span.addEventListener("mouseleave", () => reset(span));
    });

    function hover(element) {
      element.style.backgroundColor = "red";
    }

    function reset(element) {
      element.style.backgroundColor = "#464646";
    }
  });
</script>
