---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 36" subtitle="Hoverboard">
  <div class="flex flex-col">
    <div class="md:hidden text-center pt-6 pb-2 alert text-orange-700 text-lg">
      Lo siento, solo funciona bien en pc, por ahora...
    </div>
    <div class="container dia36"></div>
  </div>
</LayoutProyecto>

<style is:inline>
  .dia36 {
    margin-top: 1rem;
    padding: 16px;
    width: fit-content;
    min-height: 70vh;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(20, 1fr);
    gap: 5px;
    background-color: #1d1d1d;
  }

  .dia36 span {
    background-color: #464646;
    height: 20px;
    width: 20px;
  }

  @media (max-width: 600px) {
    .dia36 {
      margin-top: 1rem;
      padding: 10px;
    }

    .dia36 span {
      height: 13px;
      width: 13px;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const container = document.querySelector(".dia36");
    const colors = [
      "#e74c3c",
      "#8e44ad",
      "#3498db",
      "#e67e22",
      "#2ecc71",
      "#FEE532",
    ];

    if (container) {
      createGrid();

      function createGrid() {
        for (let i = 0; i < 500; i++) {
          const span = document.createElement("span");
          container.appendChild(span);
        }
      }

      const spans = document.querySelectorAll(".dia36 span");

      spans.forEach((span) => {
        span.addEventListener("mouseenter", () => hover(span));
        span.addEventListener("mouseleave", () => reset(span));
      });

      function hover(element) {
        let color = getRandomColor();
        element.style.backgroundColor = color;
        element.style.boxShadow = `0px 0px 10px ${color}`;
        element.style.transition = "all 0s linear";
      }

      function reset(element) {
        element.style.backgroundColor = "";
        element.style.transition = "2s ease";
        element.style.boxShadow = "";
      }

      function getRandomColor() {
        const randomIndex = Math.floor(Math.random() * colors.length);
        return colors[randomIndex];
      }
    }
  });
</script>
