---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 38" subtitle="Mobile Tab Navigation">
  <div class="container dia38"></div>
</LayoutProyecto>

<style>
  .dia38 {
    min-height: 70vh;
    display: grid;
    place-content: center;
  }

  @media (max-width: 600px) {
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {});
</script>
