---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 22" subtitle="Drawing App">
<div class="container dia22">

</div>
</LayoutProyecto>

<style>

    .dia20 {
      display: flex;
      min-height: 70vh;
    }



  @media (max-width: 500px) {
  .container {
    flex-direction: column;
  }  
  }

</style>

<script>
document.addEventListener("astro:page-load", () => {

});
</script>