---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 27" subtitle="Toast Notification">
  <div class="container dia27">
    <button class="show-notification">Show notification</button>
    <div class="notifications">
      <!-- <span class="notification blue">Message 1</span> -->
    </div>
  </div>
</LayoutProyecto>

<style is:inline>
  .dia27 {
    min-height: 70vh;
    display: grid;
    place-content: center;
    background-color: var(--naranja-claro);
    position: relative;
    overflow-y: hidden;
  }

  .dia27 .show-notification {
    background-color: #fff;
    border-radius: 10px;
    color: var(--naranja);
    width: fit-content;
    padding: 1rem 1.5rem;
    font-weight: bold;

    &:active {
      transform: scale(0.98);
    }
  }

  .notifications {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .notification {
    background-color: #fff;
    border-radius: 10px;
    color: var(--naranja);
    width: fit-content;
    padding: 1rem 1.5rem;
    user-select: none;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    font-weight: bolder;
  }

  .orange {
    color: orange;
  }

  .red {
    color: orangered;
  }

  .green {
    color: lightgreen;
  }

  .blue {
    color: var(--celeste-oscuro);
  }

  @media (max-width: 600px) {
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const btnNotification = document.querySelector(".show-notification");
    const containerNotifications = document.querySelector(".notifications");

    const messages = [
      "Message 1",
      "Message 2",
      "Message 3",
      "Message 4",
      "Message 5",
    ];
    const colors = ["orange", "red", "green", "blue"];

    if (btnNotification) {
      btnNotification.addEventListener("click", showNotification);

      function showNotification() {
        let message = messages[getRandomInt(0, messages.length)];
        let color = colors[getRandomInt(0, colors.length)];

        //console.log(message,color)

        let notification = document.createElement("span");
        notification.classList.add("notification");
        notification.classList.add(color);
        notification.textContent = message;

        containerNotifications.appendChild(notification);

        setTimeout(() => {
          notification.remove();
        }, 3500);
      }

      function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min) + min);
      }
    }
  });
</script>
