---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 27" subtitle="Toast Notification">
  <div class="container dia27">
    <button class="show-notification">Show notification</button>
    <div class="notifications">
      <span class="notification blue">Message 1</span>
    </div>
  </div>
</LayoutProyecto>

<style>
  .dia27 {
    min-height: 70vh;
    display: grid;
    place-content: center;
    background-color: var(--naranja-claro);
    position: relative;
  }

  .dia27 .show-notification {
    background-color: #fff;
    border-radius: 10px;
    color: var(--naranja);
    width: fit-content;
    padding: 1rem 1.5rem;
    font-weight: bold;

    &:active {
      transform: scale(0.98);
    }
  }

  .notifications {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }


  .notification {
    background-color: #fff;
    border-radius: 10px;
    color: var(--naranja);
    width: fit-content;
    padding: 1rem 1.5rem;
    user-select: none;
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }


  .orange {
    color: orange;
  }

  .red {
    color: orangered;
  }

  .green {
    color: lightgreen;
  }

  .blue {
    color: var(--celeste-oscuro);
  }

  

  @media (max-width: 600px) {
    
    
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {

  

  });
</script>
