---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 48" subtitle="Random Image Feed">
  <div class="container dia48"></div>
</LayoutProyecto>

<style>
  .dia48  {
    min-height: 70vh;
    display: grid;
    place-content: center;
  }

  @media (max-width: 600px) {
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {});
</script>
