---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 24" subtitle="Content Placeholder">
  <div class="container dia24">
    <div class="card">
      <header id="cardHeader" class="bg-animated"></header>
      <main>
        <h1 class="titulo bg-animated"></h1>
        <div class="parrafo">
          <p class="bg-animated"></p>
          <p class="bg-animated"></p>
          <p class="bg-animated"></p>
        </div>
      </main>
      <footer>
        <span class="imageF bg-animated"></span>
        <div class="footerP">
          <span class="info bg-animated"></span>
          <span class="info bg-animated"></span>
        </div>
      </footer>
    </div>
  </div>
</LayoutProyecto>

<style>
  .dia24 {
    display: grid;
    min-height: 70vh;
    place-content: center;
  }

  .card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 320px;
    height: fit-content;
    border-radius: 10px;
    height: 400px;
    overflow: hidden;
  }

  .card header {
    height: 45%;
    background-color: #ccc;
  }

  .card main {
    height: 35%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    justify-content: space-around;
  }

  .card main h1 {
    padding: 5px;
    width: 100%;
    display: block;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
  }

  .parrafo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.5rem;
    text-wrap: pretty;
  }

  .card main p:not(.parrafo) {
    padding: 5px;
    background-color: #ccc;
    width: 100%;
    display: block;
    border-radius: 10px;
  }

  .card footer {
    height: 20%;
    display: flex;
    padding: 0rem 2rem 1rem 2rem;
    justify-content: start;
    gap: 1rem;
    align-items: center;
  }

  .card footer .imageF {
    display: block;
    background-color: #ccc;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .footerP {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 14px;
    color: #5c5c5c;
  }

  .card footer .info {
    display: block;
    width: 100px;
    padding: 5px;
    background-color: #ccc;
    border-radius: 10px;
  }

  .bg-animated {
    background-image: linear-gradient(
      to right,
      #f6f7f8 0%,
      #edeef1 10%,
      #f6f7f8 20%,
      #f6f7f8 100%
    );
    background-size: 200% 100%;
    animation: bgAnimated 1s linear infinite;
  }

  .bg-laptop {
    background-image: url("./laptop.avif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-avatar {
    background-image: url("./avatar.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @keyframes bgAnimated {
    0% {
      background-position: 50% 0;
    }
    100% {
      background-position: -150% 0;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const user = {
      urlImage: "./laptop.avif",
      title: "Lorem ipsum title",
      content:
        "Deserunt non laborum sunt mollit excepteur reprehenderit sunt adipisicing.",
      urlAvatar: "avatar.jpg",
      nameUser: "John Doe",
      date: "Oct 08, 2020",
    };

    const cardHeader = document.querySelector("#cardHeader");
    const cardTitle = document.querySelector(".titulo");
    const cardParagraph = document.querySelector(".parrafo");
    const cardAvatar = document.querySelector(".imageF");
    const info = document.querySelector(".footerP");

    if (cardHeader && cardAvatar) {
      let timer = setTimeout(() => {
        cardHeader.classList.remove("bg-animated");
        cardHeader.classList.add("bg-laptop");
        cardTitle.classList.remove("bg-animated");
        cardTitle.textContent = user.title;
        //@ts-ignore
        cardTitle.style.padding = "0px";

        cardParagraph.classList.remove("bg-animated");
        cardParagraph.textContent = user.content;

        cardAvatar.classList.remove("bg-animated");
        cardAvatar.classList.add("bg-avatar");

        info.classList.remove("bg-animated");
        info.innerHTML = "<strong>" + user.nameUser + "</strong>" + user.date;
        //@ts-ignore
        info.style.gap = "0px";
      }, 2000);
    }
  });
</script>
