---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 25" subtitle="Sticky Navbar">
<div class="container dia25">

</div>
</LayoutProyecto>

<style>

    .dia25 {
      display: flex;
      min-height: 70vh;
    }



  @media (max-width: 500px) {
    .dia25 {
    flex-direction: column;
  }  
  }

</style>

<script>
document.addEventListener("astro:page-load", () => {

});
</script>