---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 43" subtitle="Feedback Ui Design">
  <div class="container dia43">
    <div class="satisfiedBox">
      <div class="boxQuestion">
        <p class="question">
          How satisfied are you with our customer support performance?
        </p>

        <div class="votes">
          <label>
            <span class="emoji">&#128533;</span>
            <p>Unhappy</p>
            <input type="radio" name="vote" id="Unhappy" />
          </label>
          <label>
            <span class="emoji">&#128528;</span>
            <p>Neutral</p>
            <input type="radio" name="vote" id="Neutral" />
          </label>
          <label>
            <span class="emoji">&#128512;</span>
            <p>Satisfied</p>
            <input type="radio" name="vote" id="Satisfied" checked/>
          </label>
        </div>

        <button class="sendReview">Send Review</button>
      </div>

      <div class="boxThanks hide">
        <span class="emoji">&#128150;</span>
        <p><strong>Thank You!</strong></p>
        <p> <strong>Feedback: <span id="answer"></span></strong></p>
      
        <p>We'll use your feedback to improve our customer support</p>
      </div>

    </div>
  </div>
</LayoutProyecto>

<style>
  .dia43 {
    min-height: 70vh;
    display: grid;
    place-content: center;
  }

  .boxThanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .emoji {
      font-size: 2rem;
      padding: 10px;
    }

    strong {
      font-size: larger ;
    }
  }

  .emoji {
      width: fit-content;
      aspect-ratio: 1/1;
      background-color: #fff;
      border-radius: 50%;
      padding: 0px;
    }

  .satisfiedBox {
    border: 2px solid var(--naranja);
    border-radius: 1rem;
    padding: 2rem 1rem;
    background-color: var(--naranja-claro);
    color: #fff;
    text-wrap: pretty;
    text-align: center; 
  }

  .boxQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;

    & .question {
      font-weight: bold;
      font-size: larger;
    }
  }

  .votes {
    display: flex;
    gap: 1rem;

    & label {
      border: 1px solid var(--naranja);
      width: 100px;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      & span {
        font-size: 2.5rem;
      }

      &:hover {
        cursor: pointer;
      }
    }

    & input[type="radio"] {
      display: none;
    }

    & label:has([type="radio"]:checked) {
      & span {
        transition: transform 0.7s ease-in-out;
        transform: rotateY(360deg);
      }

      border-color: #eee;
      background-color: var(--naranja);
      font-weight: bold;
    }
  }

  .sendReview {
    background-color: var(--naranja);
    padding: 0.5rem 1rem;

    &:active {
      transform: scale(0.95);
    }
  }

  .hide {
    display: none;
  }

  @media (max-width: 600px) {
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const inputRadios = document.querySelectorAll('input[name="vote"]');
    let optionSelected;
    const answer = document.querySelector('#answer');
    const boxQuestion = document.querySelector('.boxQuestion');
    const boxThanks = document.querySelector('.boxThanks');
    const buttonSend = document.querySelector('.sendReview');

    inputRadios.forEach((radio) => {

      //@ts-ignore
      if (radio.checked) {
        optionSelected = radio.id;
        answer.textContent = optionSelected;
      }

      radio.addEventListener("change", () => {
        optionSelected = radio.id;
        answer.textContent = optionSelected;
      });
    });

    buttonSend.addEventListener('click', () => {
      boxQuestion.classList.toggle('hide');
      boxThanks.classList.toggle('hide');
    })
  });
</script>
