---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 41" subtitle="Verify Account Ui">
  <div class="container dia41"></div>
</LayoutProyecto>

<style>
  .dia41 {
    min-height: 70vh;
    display: grid;
    place-content: center;
  }

  @media (max-width: 600px) {
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {});
</script>
