---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 32" subtitle="Good Cheap Fast">
  <div class="container dia32">
   
  </div>
</LayoutProyecto>

<style>
  .dia32 {
    min-height: 70vh;
  }

  

  @media (max-width: 600px) {
    
    
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {

  

  });
</script>
