---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 51" subtitle="Acertijos">
  <div class="container dia51">
    <div class="container">
      <div class="container-fondo"></div>

      <header>
        <button id="btnAnteriorAcertijo" title="Acertijo anterior">🔽</button>

        <form id="formAcertijo">
          <input type="number" id="inputAcertijo" min="0" />
        </form>
        <button id="btnSiguienteAcertijo" title="Acertijo siguiene">🔼</button>

        <button id="randomAcertijo" title="Acertijo aleatorio"> 🔀 </button>
      </header>

      <!-- Acertijo caja -->
      <section class="box">
        <main>
          <h2 class="title">
            Acertijo <span class="acertijo-numero">00</span>
          </h2>
          <p id="acertijo" class="acertijo">Pensando en un acertijo...</p>

          <div class="buttons-actions">
            <button id="btnPista" class="btn"> Ver pista </button>
            <button id="btnRespuesta" class="btn btnRespuesta">
              Ver respuesta
            </button>
          </div>
        </main>
      </section>

      <!-- Pista caja -->
      <section class="box-pista hide">
        <main>
          <h2 class="title">Pista <span class="acertijo-numero">00</span></h2>
          <p id="pista" class="pista">Aqui va la pista...</p>
          <div class="buttons-actions">
            <button id="btnAcertijo" class="btn btnAcertijo">
              Ver acertijo
            </button>
            <button id="btnRespuesta" class="btn btnRespuesta">
              Ver respuesta
            </button>
          </div>
        </main>
      </section>

      <!-- Respuesta caja -->
      <section class="box-respuesta hide">
        <main>
          <h2 class="title">
            Respuesta <span class="acertijo-numero">00</span>
          </h2>
          <p id="respuesta" class="respuesta">Aqui va la respuesta...</p>
          <div class="buttons-actions">
            <button id="btnAcertijo" class="btn btnAcertijo">
              Ver acertijo
            </button>
            <button id="btnNext" class="btn"> Siguiente acertijo </button>
          </div>
        </main>
      </section>
      <!-- Fin de la caja -->
    </div>
  </div>
</LayoutProyecto>

<style>
  .dia51 {
    display: grid;
    place-content: center;
  }

  .container {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    min-height: 70vh;
  }

  header {
    position: absolute;
    top: 0;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0rem 1rem;

    input {
      width: 4rem;
      text-align: center;
    }

    button {
      transform: rotate(90deg) scale(1.4);
      margin-top: 1px;
      margin-left: 4px;
      margin-right: 6px;
    }

    #randomAcertijo {
      transform: rotate(0deg) scale(1.4);
      margin-top: 3px;
      margin-left: 60px;
      margin-right: 6px;
    }
  }

  .container-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--celeste);
    z-index: -2;
    transition: all 0.5s ease-in-out;
  }

  .box,
  .box-pista,
  .box-respuesta {
    margin: 70px 10px 50px 10px;
    background-color: #f8fafc;
    border-radius: 12px;
    box-shadow:
      0 10px 20px rgba(0, 0, 0, 0.1),
      0 6px 6px rgba(0, 0, 0, 0.1);

    & main {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      width: 400px;
      min-height: 320px;
      height: max-content;
    }
  }

  .title {
    font-weight: bolder;
    color: var(--text-color-secondary);
  }

  .acertijo,
  .pista,
  .respuesta {
    text-align: center;
    color: var(--text-color);
    text-wrap: pretty;
    font-size: large;
    font-weight: bold;
    height: fit-content;
    padding: 1rem;
  }

  .btn {
    background-color: var(--naranja-claro);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: scale(1.02);
    }

    &:active {
      transform: scale(0.99);
    }
  }

  .buttons-actions {
    display: flex;
    gap: 1rem;
    font-size: small;
  }

  .box {
    transition: all 0.5s ease-in-out;
    position: relative;
  }
  .box-pista,
  .box-respuesta {
    transform: rotateY(-180deg);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
  }

  .hide {
    transform: rotateY(180deg);
    opacity: 0;
    z-index: -1;
  }

  .show {
    transform: rotateY(0deg);
    opacity: 1;
    z-index: 1;
  }

  @media (max-width: 500px) {
    .container {
    }

    .box,
    .box-pista,
    .box-respuesta {
      & main {
        width: 300px;
        min-height: 300px;
      }
    }
  }
</style>

<script>
  import acertijosData from "./acertijos.json";

  document.addEventListener("astro:page-load", () => {
    const acertijos = acertijosData;

    // Selección de elementos del DOM
    // Botones
    const btnPista = document.querySelector("#btnPista");
    const btnRespuesta = document.querySelectorAll(".btnRespuesta");
    const btnAcertijo = document.querySelectorAll(".btnAcertijo");
    const btnNext = document.querySelector("#btnNext");
    const btnBefore = document.querySelector("#btnAnteriorAcertijo");
    const btnSiguiente = document.querySelector("#btnSiguienteAcertijo");
    const btnRandom = document.querySelector("#randomAcertijo");

    // Cajas
    const acertijo = document.querySelector(".box");
    const pista = document.querySelector(".box-pista");
    const respuesta = document.querySelector(".box-respuesta");

    // Textos
    const acertijoNumero = document.querySelectorAll(".acertijo-numero");
    const acertijoText = document.querySelector("#acertijo");
    const respuestaText = document.querySelector("#respuesta");
    const pistaText = document.querySelector("#pista");

    // Formulario
    const formAcertijo = document.querySelector("#formAcertijo");
    const inputAcertijo = document.querySelector("#inputAcertijo");
    inputAcertijo.setAttribute("max", (acertijos.length - 1).toString());

    // Eventos de los botones
    btnPista.addEventListener("click", () => {
      acertijo.classList.add("hide");
      pista.classList.add("show");
    });

    btnAcertijo.forEach((btn) => {
      btn.addEventListener("click", () => {
        acertijo.classList.remove("hide");
        pista.classList.remove("show");
        respuesta.classList.remove("show");
      });
    });

    btnRespuesta.forEach((btn) => {
      btn.addEventListener("click", () => {
        acertijo.classList.add("hide");
        pista.classList.remove("show");
        respuesta.classList.add("show");
      });
    });

    // Inicializar con el primer riddle
    const getIndexAcertijo = () => {
      const storedIndex = localStorage.getItem("acertijoNumero");
      if (storedIndex !== null) {
        return parseInt(storedIndex);
      }
      return 0;
    };

    const setIndexAcertijo = (index) => {
      localStorage.setItem("acertijoNumero", parseInt(index).toString());
    };

    let currentRiddleIndex = getIndexAcertijo();

    function nextRiddle() {
      currentRiddleIndex = getIndexAcertijo();
      const currentRiddle = acertijos[currentRiddleIndex];

      acertijoNumero.forEach((num) => {
        //@ts-ignore
        num.innerText = currentRiddle.id;
      });

      //@ts-ignore
      acertijoText.innerText = currentRiddle.acertijo;
      //@ts-ignore
      pistaText.innerText = currentRiddle.pista;
      setTimeout(() => {
        //@ts-ignore
        respuestaText.innerText = currentRiddle.respuesta;
      }, 500);

      //@ts-ignore
      inputAcertijo.value = currentRiddle.id;

      acertijo.classList.remove("hide");
      pista.classList.remove("show");
      respuesta.classList.remove("show");
    }

    btnNext.addEventListener("click", () => {
      setIndexAcertijo(currentRiddleIndex + 1);
      nextRiddle();
    });

    btnSiguiente.addEventListener("click", () => {
      setIndexAcertijo(currentRiddleIndex + 1);
      nextRiddle();
    });

    btnBefore.addEventListener("click", () => {
      setIndexAcertijo(currentRiddleIndex - 1);
      nextRiddle();
    });

    btnRandom.addEventListener("click", () => {
      setIndexAcertijo(Math.floor(Math.random() * acertijos.length));
      nextRiddle();
    });

    formAcertijo.addEventListener("submit", (e) => {
      e.preventDefault();
      //@ts-ignore
      const valorInput = parseInt(inputAcertijo.value - 1);
      if (
        isNaN(valorInput) ||
        valorInput < 0 ||
        valorInput >= acertijos.length
      ) {
        alert("Por favor, ingresa un número válido de acertijo.");
        return;
      }
      setIndexAcertijo(valorInput);
      nextRiddle();
    });

    // Inicializar con el primer riddle
    nextRiddle();
  });
</script>
