---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 8" subtitle="Form Wave">
  <div class="container">
    <form action="">
      <h1>Please Login</h1>

      <div class="user-box">
        <input id="user" type="text" required />
        <span class="user-placeholder">
          <span>E</span><span>m</span><span>a</span><span>i</span><span>l</span>
        </span>
      </div>
      <div class="password-box">
        <input id="password" type="password" required />
        <span class="password-placeholder">Password</span>
      </div>
      <button>Login</button>
      <p>Don't have an account? <a href="#">Register</a></p>
    </form>
  </div>
</LayoutProyecto>

<style>
  .container {
    display: grid;
    height: 71vh;
    background-color: var(--celeste-claro);
    place-items: center;
  }

  form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--celeste);
    color: #fff;
    align-items: center;
    border-radius: 0.4rem;
    gap: 2rem;
    min-width: 320px;
  }

  h1 {
    font-size: xx-large;
    font-weight: bold;
  }
  input {
    background-color: transparent;
    border-bottom: 2px solid var(--azul-oscuro);
    outline: none;
    padding: 0.5rem 0;
    width: 100%;
  }

  .user-box,
  .password-box {
    width: 100%;
  }

  .user-placeholder,
  .password-placeholder {
    left: 0;
    top: 20%;
    user-select: unset;
    transition: all 0.3s ease-in-out;
    color: var(--azul-oscuro);
  }

  .user-placeholder span,
  .password-placeholder span {
    position: relative;
    top: -2rem;
  }

  input:focus {
    border-bottom: 2px solid #fff;
  }


  .user-placeholder {
    span:first-child {
      transition-duration: 0.3s;
      transition-delay: 0s;
    }

    span:nth-child(2) {
      transition-duration: 0.3s;
      transition-delay: 0.05s;
    }

    span:nth-child(3) {
      transition-duration: 0.3s;
      transition-delay: 0.1s;
    }

    span:nth-child(4) {
      transition-duration: 0.3s;
      transition-delay: 0.15s;
    }

    span:nth-child(5) {
      transition-duration: 0.3s;
      transition-delay: 0.2s;
    }
  }

  input:focus + .user-placeholder {
    span:first-child {
      top: -3.5rem;
      color: #fff;
    }

    span:nth-child(2) {
      top: -3.5rem;
      color: #fff;
    }

    span:nth-child(3) {
      top: -3.5rem;
      color: #fff;
    }

    span:nth-child(4) {
      top: -3.5rem;
      color: #fff;
    }

    span:nth-child(5) {
      top: -3.5rem;
      color: #fff;
    }
  }
  button {
    background: var(--azul-oscuro);
    padding: 10px 0px;
    width: 100%;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
  }

  p {
    font-size: small;
    text-align: left;
    width: 100%;
  }
  a {
    color: var(--azul-oscuro);
    font-weight: bold;
  }

  @media (max-width: 500px) {
  }
</style>

<script></script>
