---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Card from '../components/Card.astro';

// Obtener todas las rutas de los archivos en la carpeta projects que tengan un archivo .md o .astro (ajusta esto según tu estructura de archivos)
const allProjects = await Astro.glob('./projects/*/*.astro');
const allNames = await Astro.glob('./projects/*/*.md');

//Ordeno el array de projectos de acuerdo a la url que siempre termina con un numero
var projects = Array.from(allProjects);

//Ordena el array de projectos correctamente
projects.sort((a, b) => {
    const dayA = parseInt(a.url.match(/\d+/)[0]);
    const dayB = parseInt(b.url.match(/\d+/)[0]);
    return dayA - dayB;
});

//Ordeno el array de nombres de acuerdo al numero de dia
var names = Array.from(allNames);
names.sort((a, b) => {
    const dayA = parseInt(a.frontmatter.dia);
    const dayB = parseInt(b.frontmatter.dia);
    return dayA - dayB;
});

/* console.log(names) */
---

<Layout title="50 proyectos en 50 días">
    <Hero />
    <section class="flex mx-auto w-[90%] flex-wrap gap-2 justify-center items-stretch py-8">
      {projects.map((project, index) => (
        <Card key={index} project={project} title={names[index].frontmatter.name} image={names[index].frontmatter.image} />
      ))
      }
    </section>
</Layout>
  
  <style>
  /* Aquí puedes añadir tus estilos */
  </style>
