---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Card from '../components/Card.astro';
---

<Layout title="50 proyectos en 50 días">
    <Hero/>
    <section class="flex mx-auto w-[90%] flex-wrap gap-2 justify-center py-8">
    <Card/>
    <Card/>
    </section>
</Layout>

<style>
</style>
