---

---
<a href="#">
<article class="border rounded-lg text-center flex flex-col justify-around py-5 px-3 hover:scale-105 transition-all ease-in-out duration-200">
    <p class="naranja font-black text-2xl">Día 1</p>
    <p class="text-color text-xl">Expanding Cards</p>
</article>
</a>