---
import Logo from "./Logo.astro";
import Navbar from "./Nabvar.astro";
import NavMobile from "./NavMobile.astro";
---

<header class="border-b-2 border-[#abe1fd] py-4 px-6 bg-white fixed w-full z-20 top-0 start-0">
    <div class="flex justify-between items-center">
    <a href="/"><Logo/></a>
    <Navbar/>
    </div>
    <NavMobile/>
</header>