---
---

<h1 class="mt-20 text-center century-gothic font-black p-6 flex flex-col">
    <span class="text-color text-[2.4rem]">50 proyectos</span>
    <span class="celeste-oscuro text-5xl mt-[-10px] mb-1">en 50 días</span>
    <p class="text-center onest text-[1.1rem] text-secondary font-normal">
        Retos de programación con <br> HTML, CSS y JS
    </p>
</h1>

<hr class="mx-6">

