---
---

<h1 class="mt-20 text-center century-gothic font-black p-8 flex flex-col gap-2">
    <span class="text-color text-5xl">50 proyectos</span>
    <span class="celeste-oscuro text-6xl">en 50 días</span>
    <p class="text-center onest text-[1.4rem] text-secondary font-normal">
        Retos de programación con <br> HTML, CSS y JS
    </p>
</h1>

<hr class="mx-6">

