---
const allProjects = await Astro.glob("../pages/projects/*/*.astro");
const allNames = await Astro.glob("../pages/projects/*/*.md");

//Ordeno el array de projectos de acuerdo a la url que siempre termina con un numero
var projects = Array.from(allProjects);

//Ordena el array de projectos correctamente
projects.sort((a, b) => {
    const dayA = parseInt(a.url.match(/\d+/)[0]);
    const dayB = parseInt(b.url.match(/\d+/)[0]);
    return dayA - dayB;
});

//Ordeno el array de nombres de acuerdo al numero de dia
var names = Array.from(allNames);
names.sort((a, b) => {
    const dayA = parseInt(a.frontmatter.dia);
    const dayB = parseInt(b.frontmatter.dia);
    return dayA - dayB;
});
---

<nav class="">
  <!-- Hamburguesa -->
  <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
    <button
      type="button"
      id="hamburguer"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-400 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-[#abe1fd] transition-all duration-200 ease-in-out"
      title="Menú"
    >
      <span class="sr-only">Abrir menu</span>
      <svg
        class="w-10 h-10"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
  </div>

  <!-- LINKS -->
  <div class="hidden w-full md:block" id="nav-desktop">
    <ul
      class="flex gap-6 p-4 font-medium border border-gray-100 rounded-lg bg-slate-50"
    >
      <li class="relative">
        <div
          id="MostrarSubMenuD"
          class="cursor-pointer text-gray-900 rounded hover:text-[#38b8ff] transition-all duration-150 ease-in-out"
        >
          Proyectos <span class="text-sm">&#9660;</span>
        </div>
        <div id="SubMenuD" class="hidden">
          <nav
            class="absolute flex flex-col font-medium border border-gray-100 rounded-lg bg-slate-50 min-w-64 top-12 -left-4"
          >
            {
              projects.map((project, index) => (
                <a
                  href={project.url}
                  class="text-gray-900 rounded px-4 py-3 hover:text-[#38b8ff] transition-all duration-150 ease-in-out"
                >
                  Día {names[index].frontmatter.dia}: {names[index].frontmatter.name}
                </a>
              ))
            }
          </nav>
        </div>
      </li>

      <li>
        <a
          href="/"
          class="text-gray-900 rounded hover:text-[#38b8ff] transition-all duration-150 ease-in-out"
            >Inicio</a
        >
      </li>

      <li>
        <a
          href="https://cdl.net.ar/"
          class="text-gray-900 rounded hover:text-[#38b8ff] transition-all duration-150 ease-in-out"
          target="_blank">Portafolio</a
        >
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send/?phone=3875459077&text=Hola!%20Vengo%20de%20tu%20sitio%20web%20&type=phone_number&app_absent=0"
          class="text-gray-900 rounded hover:text-[#38b8ff] transition-all duration-150 ease-in-out"
          target="_blank">Contacto</a
        >
      </li>
      <li>
        <a
          href="https://github.com/CristianLeyton/proyectos-reto-50-dias"
          class="text-gray-900 rounded hover:text-[#38b8ff] transition-all duration-150 ease-in-out"
          target="_blank">Ver código</a
        >
      </li>
    </ul>
  </div>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelector("#MostrarSubMenuD").addEventListener("click", () => {
      document.querySelector("#SubMenuD").classList.toggle("hidden");
    });
  });
</script>
