---
const allProjects = await Astro.glob('../pages/projects/*/*.astro');
const allNames = await Astro.glob('../pages/projects/*/*.md');

//Ordeno el array de projectos de acuerdo a la url que siempre termina con un numero
var projects = Array.from(allProjects);

//Ordena el array de projectos correctamente
projects.sort((a, b) => {
    const dayA = parseInt(a.url.match(/\d+/)[0]);
    const dayB = parseInt(b.url.match(/\d+/)[0]);
    return dayA - dayB;
});

//Ordeno el array de nombres de acuerdo al numero de dia
var names = Array.from(allNames);
names.sort((a, b) => {
    const dayA = parseInt(a.frontmatter.dia);
    const dayB = parseInt(b.frontmatter.dia);
    return dayA - dayB;
});
---

<!-- LINKS -->

<div 
    id="MostrarSubMenu"
        class="absolute md:hidden top-4 left-[165px] cursor-pointer block py-2 px-3 text-gray-900 rounded hover:bg-[#5bb2e7] hover:text-white transition-all duration-150 ease-in-out"
      >
        Proyectos <span class="text-sm">&#9660;</span>
      </div>
      <div id="SubMenu" class="hidden mt-5 ">
        <nav class="text-left max-h-[50vh] overflow-y-scroll">
          {projects.map((project, index) => (
            <a
            href={project.url}
            class="block py-2 px-3 text-gray-900 rounded hover:bg-[#5bb2e7] hover:text-white transition-all duration-150 ease-in-out"
          >
            Día {names[index].frontmatter.dia}: {names[index].frontmatter.name}
          </a>
          ))
          }
        </nav>
</div>
<div class="hidden w-full md:hidden" id="nav-links">
  <ul
    class="flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg bg-slate-50"
  >
    <li>
      <a
        href="/"
        class="block py-2 px-3 text-gray-900 rounded hover:bg-[#5bb2e7] hover:text-white transition-all duration-150 ease-in-out"
        >Inicio</a
      >
    </li>
    <li>
      <a
        href="https://cdl.net.ar/"
        class="block py-2 px-3 text-gray-900 rounded hover:bg-[#5bb2e7] hover:text-white transition-all duration-150 ease-in-out"
        target="_blank">Portafolio</a
      >
    </li>
    <li>
      <a
        href="https://api.whatsapp.com/send/?phone=3875459077&text=Hola!%20Vengo%20de%20tu%20sitio%20web%20&type=phone_number&app_absent=0"
        class="block py-2 px-3 text-gray-900 rounded hover:bg-[#5bb2e7] hover:text-white transition-all duration-150 ease-in-out"
        target="_blank">Contacto</a
      >
    </li>
    <li>
      <a
        href="https://github.com/CristianLeyton/proyectos-reto-50-dias"
        class="block py-2 px-3 text-gray-900 rounded hover:bg-[#5bb2e7] hover:text-white transition-all duration-150 ease-in-out"
        target="_blank">GitHub</a
      >
    </li>
  </ul>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelector("#MostrarSubMenu").addEventListener("click", () => {
      document.querySelector("#SubMenu").classList.toggle("hidden");
    });
  });
  document.addEventListener("astro:page-load", () => {
    document.querySelector("#hamburguer").addEventListener("click", () => {
      document.querySelector("#nav-links").classList.toggle("hidden");
    });
  });
</script>
