---
const { title, subtitle } = Astro.props;
import { slide } from "astro:transitions";

const allProjects = await Astro.glob("../pages/projects/*/*.astro");
let urlActual = Astro.url.pathname;

//Tuve que poner esto porque en vercel la url termina con una barra "/"
if (urlActual.endsWith('/')) {
  urlActual = urlActual.slice(0, -1);
}

let urlAnterior, urlSiguiente;

allProjects.forEach((project, index) => {
  if (urlActual == project.url) {
    if (index != 0) {
      urlAnterior = allProjects[index - 1].url ;
    }
    if (index < allProjects.length - 1) {
      urlSiguiente = allProjects[index + 1].url;
    }
  }
});

/* console.log(urlActual, urlAnterior, urlSiguiente)  */
---


<section class="mt-20 text-color flex items-center justify-evenly max-w-[95vw]">

  <a
    href={urlAnterior || "#"}
    title="Anterior"
    class={`bg-[#feab3a] size-8 text-lg md:size-12 md:text-2xl grid items-center justify-center text-white rounded-full duration-150 transition-all ease-in-out ${urlAnterior ? "opacity-70 hover:opacity-100" : "invisible"}`}
  >
    ❮
  </a>

  <span
    transition:animate={slide({ duration: ".7s" })} 
    class="text-center century-gothic font-black p-6 flex flex-col"
  >
    <span class="naranja text-5xl md:mt-3 md:text-6xl">{title}</span>
    <span class="text-color text-4xl -mt-1 mb-1  md:text-5xl">{subtitle}</span>
  </span>

  <a
    href={urlSiguiente || "#"}
    title="Anterior"
    class={`bg-[#feab3a] size-8 text-lg md:size-12 md:text-2xl grid items-center justify-center text-white rounded-full duration-150 transition-all ease-in-out ${urlSiguiente ? "opacity-70 hover:opacity-100" : "invisible"}`}
  >
    ❯
  </a>
</section>

<hr class="mx-6 md:mx-0" />
