---
const { title, subtitle } = Astro.props;
import { slide } from "astro:transitions";

const allProjects = await Astro.glob("../pages/projects/*/*.astro");//Todos los proyectos en la carpeta projects
let urlActual = Astro.url.pathname;

//Tuve que poner esto porque en vercel la url termina con una barra "/"
if (urlActual.endsWith('/')) {
  urlActual = urlActual.slice(0, -1);
}
let urlAnterior, urlSiguiente;

var projects = Array.from(allProjects);

//Ordena el array de projectos correctamente
projects.sort((a, b) => {
    const dayA = parseInt(a.url.match(/\d+/)[0]);
    const dayB = parseInt(b.url.match(/\d+/)[0]);
    return dayA - dayB;
});

projects.forEach((project, index) => {
  if (urlActual == project.url) {
    if (index != 0) {
      urlAnterior = projects[index - 1].url ;
    }
    if (index < projects.length - 1) {
      urlSiguiente = projects[index + 1].url;
    }
  }
});

/* console.log(urlActual, urlAnterior, urlSiguiente)  */
---

<section class="mt-20 text-color flex items-center justify-evenly max-w-[98vw] mx-auto">

  <a
    href={urlAnterior || "#"}
    title="Anterior"
    class={`bg-[#feab3a] size-8 text-lg md:size-12 md:text-2xl grid items-center justify-center text-white rounded-full duration-150 transition-all ease-in-out ${urlAnterior ? "opacity-70 hover:opacity-100" : "invisible"}`}
  >
    ❮
  </a>

  <span
    transition:animate={slide({ duration: ".7s" })} 
    class="text-center century-gothic font-black p-6 flex flex-col w-[81%] md:w-[55%] xl:w-[50%] 2xl:w-[35%]"
  >
    <span class="naranja text-4xl md:mt-3 md:text-6xl" title={title}>{title}</span>
    <span class="text-color text-3xl -mt-1 mb-1 text-nowrap md:text-5xl overflow-hidden text-ellipsis pb-3" title={subtitle}>{subtitle}</span>
  </span>

  <a
    href={urlSiguiente || "#"}
    title="Anterior"
    class={`bg-[#feab3a] size-8 text-lg md:size-12 md:text-2xl grid items-center justify-center text-white rounded-full duration-150 transition-all ease-in-out ${urlSiguiente ? "opacity-70 hover:opacity-100" : "invisible"}`}
  >
    ❯
  </a>
</section>

<hr class="mx-6 md:mx-0" />
