---
const { title , subtitle } = Astro.props;

import { slide } from "astro:transitions";
---

<span transition:animate={slide({ duration: '.7s' })} class="mt-20 text-center century-gothic font-black p-6 flex flex-col">
    <span class="text-color text-4xl md:mt-3 md:text-5xl">{subtitle}</span>
    <span class="naranja text-5xl mb-1 md:text-6xl">{title}</span>
    <p class="text-center onest text-[1.1rem] text-secondary font-normal md:text-[1.8rem]">
        <slot/>
    </p>
</span>

<hr class="mx-6 md:mx-0">

