---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 17" subtitle="Movie App">
<div class="container">

</div>
</LayoutProyecto>

<style>

    .container {
      display: flex;
      height: 70vh;
    }



  @media (max-width: 500px) {
  .container {
    flex-direction: column;
  }  
  }

</style>

<script>

</script>