---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 3" subtitle="Rotating Navigation">
  <div class="background">
    <nav class="navbar">
      <a href="#" class="home">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: currentColor"
          ><path
            d="m21.743 12.331-9-10c-.379-.422-1.107-.422-1.486 0l-9 10a.998.998 0 0 0-.17 1.076c.16.361.518.593.913.593h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a.998.998 0 0 0 .743-1.669z"
          ></path></svg
        >

        Home</a
      >
      <a href="#" class="about">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: currentColor"
          ><path
            d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"
          ></path></svg
        >
        About</a
      >
      <a href="#" class="contact">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: currentColor"
          ><path
            d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 4.7-8 5.334L4 8.7V6.297l8 5.333 8-5.333V8.7z"
          ></path></svg
        >
        Contact</a
      >
    </nav>
    <div id="container" class="container">
      <nav id="open" class="open">
        <button type="button" id="close" title="Cerrar" class="close">
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="none"
            viewBox="0 0 19 19"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18 17.94 6M18 18 6.06 6"></path>
          </svg>
        </button>
        <button type="button" id="hamburguer" title="Menú" class="hamburguer">
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
            width="30"
            height="25"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"></path>
          </svg>
        </button>
      </nav>
      <main>
        <section>
          <article>
            <h1>Amazing Article</h1>
            <h5>Florin Pop</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Accusantium quia in ratione dolores cupiditate, maxime aliquid
              impedit dolorem nam dolor omnis atque fuga labore modi veritatis
              porro laborum minus, illo, maiores recusandae cumque ipsa quos.
              Tenetur, consequuntur mollitia labore pariatur sunt quia harum
              aut. Eum maxime dolorem provident natus veritatis molestiae cumque
              quod voluptates ab non, tempore cupiditate? Voluptatem, molestias
              culpa. Corrupti, laudantium iure aliquam rerum sint nam quas dolor
              dignissimos in error placeat quae temporibus minus optio eum
              soluta cupiditate! Cupiditate saepe voluptates laudantium. Ducimus
              consequuntur perferendis consequatur nobis exercitationem
              molestias fugiat commodi omnis. Asperiores quia tenetur nemo ipsa.
            </p>
          </article>
          <article>
            <h2>My Dog</h2>
            <div id="dog" title="Cachorro rubio"></div>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit
              libero deleniti rerum quo, incidunt vel consequatur culpa ullam.
              Magnam facere earum unde harum. Ea culpa veritatis magnam at
              aliquid. Perferendis totam placeat molestias illo laudantium?
              Minus id minima doloribus dolorum fugit deserunt qui vero
              voluptas, ut quia cum amet temporibus veniam ad ea ab
              perspiciatis, enim accusamus asperiores explicabo provident.
              Voluptates sint, neque fuga cum illum, tempore autem maxime
              similique laborum odio, magnam esse. Aperiam?
            </p>
          </article>
        </section>
      </main>
    </div>
  </div>
</LayoutProyecto>

<style>
  .background {
    background-color: #333;
    position: relative;
    overflow-x: hidden;
    max-height: 71vh;
    overflow-y: scroll;
  }
  .container {
    padding: 3rem;
    padding-top: 100px;
    max-width: 768px;
    background-color: #fff;
    transform-origin: left top;
    z-index: -1;
    transition: transform 0.5s linear;
  }

  .rotate-container {
    transform: rotate(-20deg);
  }
  .open {
    position: absolute;
    top: -100px;
    left: -100px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: space-around;
    padding: 45px 10px;
    background-color: #ff7979;
    color: #fff;
    transition: transform 0.5s linear;
  }

  .rotate-open {
    transform: rotate(-70deg);
  }
  h1,
  h2 {
    font-weight: bolder;
  }

  h1 {
    font-size: xx-large;
  }

  h5 {
    color: #aaaaaa;
    font-style: italic;
    font-size: small;
  }

  h2 {
    font-size: larger;
  }
  p {
    text-wrap: pretty;
    margin: 15px 0;
  }

  #dog {
    width: 100%;
    aspect-ratio: 3/2;
    background-image: url("./dog.webp");
    background-size: contain;
  }
  .navbar {
    position: absolute;
    color: #fff;
    top: 450px;
    left: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media (max-height: 768px) {
    .navbar {
      top: 300px;
      left: 0px;
      transform: scale(0.85);
    }
  }

  .navbar a {
    display: flex;
    align-items: center;
    justify-content: left;
    text-transform: uppercase;
    gap: 10px;
  }

  .home,
  .about,
  .contact {
    padding: 0px 5px;
    width: fit-content;
    margin-left: -250px;
    transition: all 0.8s ease-out;
    visibility: hidden;
  }

  .home.show {
    visibility: visible;
    margin-left: 0px;
  }

  .about.show {
    visibility: visible;
    margin-left: 12px;
  }

  .contact.show {
    visibility: visible;
    margin-left: 24px;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const open = document.querySelector("#open");
    const container = document.querySelector("#container");
    const home = document.querySelector(".home");
    const about = document.querySelector(".about");
    const contact = document.querySelector(".contact");

    if (open) {
      open.addEventListener("click", () => {
        container.classList.toggle("rotate-container");
        open.classList.toggle("rotate-open");
        home.classList.toggle("show");
        about.classList.toggle("show");
        contact.classList.toggle("show");
      });
    }
  });
</script>
