---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 39" subtitle="Password Strength Background">
  <div class="container dia39">



  </div>
</LayoutProyecto>

<style>
  .dia39 {
    min-height: 70vh;
    display: grid;
    place-content: center;
  }

  @media (max-width: 600px) {
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {});
</script>
