---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 46" subtitle="Quiz App">
  <div class="container dia46"></div>
</LayoutProyecto>

<style>
  .dia46  {
    min-height: 70vh;
    display: grid;
    place-content: center;
  }

  @media (max-width: 600px) {
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {});
</script>
