---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 18" subtitle="Background Slider">
  <div class="dia18 image0">
    <button class="left">❮</button>
    <div class="slider">
      <div class="image image0 active"></div>
      <div class="image image1"></div>
      <div class="image image2"></div>
      <div class="image image3"></div>
      <div class="image image4"></div>
    </div>
    <button class="right">❯</button>
  </div>
</LayoutProyecto>

<style>
  .dia18 {
    display: flex;
    height: 70vh;
    min-width: 90vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.4s;
  }

  .dia18::after {
    content: "";
    position: absolute;
    background-color: #00000050;
    inset: 0;
  }

  .slider {
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 60vw;
    transition: 0.5s;
    box-shadow:
      0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .image {
    height: 70vh;
    width: 90vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -10.1vh;
    left: -15.05vw;
    z-index: 1;
    transition: 0.2s;
    opacity: 0;
  }

  .image0 {
    background-image: url("./images/photo-1.avif");
  }

  .image1 {
    background-image: url("./images/photo-2.avif");
  }

  .image2 {
    background-image: url("./images/photo-3.avif");
  }

  .image3 {
    background-image: url("./images/photo-4.avif");
  }

  .image4 {
    background-image: url("./images/photo-5.avif");
  }

  .active {
    opacity: 1;
  }
  .left,
  .right {
    color: #fff;
    border: 3px solid var(--naranja-claro);
    padding: 0.75rem;
    z-index: 1;
  }

  .left {
    border-right: 0px;
  }

  .right {
    border-left: 0px;
  }

  @media (max-width: 500px) {
    .dia18 {
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const allImages = document.querySelectorAll(".image");
    const btnL = document.querySelector(".left");
    const btnR = document.querySelector(".right");
    const background = document.querySelector(".dia18");

    let pos = -1;

    if (allImages && btnL && btnR && background) {
      btnL.addEventListener("click", () => {
        getPosActive();

        if (allImages[pos - 1] == undefined) {
          pos = allImages.length - 1;
          allImages[pos].classList.add("active");
          background.classList.add(`image${pos}`);
        } else {
          allImages[pos - 1].classList.add("active");
          background.classList.add(`image${pos - 1}`);
        }
        //@ts-ignore
      });

      btnR.addEventListener("click", () => {
        getPosActive();

        if (allImages[pos + 1] == undefined) {
          pos = 0;
          allImages[pos].classList.add("active");
          background.classList.add(`image${pos}`);
        } else {
          allImages[pos + 1].classList.add("active");
          background.classList.add(`image${pos + 1}`);
        }
      });

      function getPosActive() {
        allImages.forEach((image, i) => {
          if (image.classList.contains("active")) {
            pos = i;
            background.classList.remove(`image${i}`);
          }
        });
        if (pos !== -1) {
          allImages[pos].classList.remove("active");
        }
      }
    }
  });
</script>
