---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";

---

<LayoutProyecto title="Día 53" subtitle="Snake Game">
  <!-- Gracias a @midudev https://www.youtube.com/watch?v=b6du6MvQmuQ -->
  <div class="container dia53">
   
  </div>
</LayoutProyecto>

<style>

    /*   <!-- Gracias a @midudev https://www.youtube.com/watch?v=b6du6MvQmuQ --> */
  .dia50 {
    min-height: 70vh;
    display: grid;
    place-content: center;
    background-color: #2b2b2b;
  }


  @media (max-width: 600px) {
    
  }
</style>

<script>
  /*   <!-- Gracias a @midudev https://www.youtube.com/watch?v=b6du6MvQmuQ --> */
  document.addEventListener("astro:page-load", () => {
    
    
  });
</script>
