---
import LayoutProyecto from "../../../layouts/LayoutProyecto.astro";
---

<LayoutProyecto title="Día 26" subtitle="Double Vertical Slider">
  <div class="dia26">
    <div class="slide-left">
      <div class="text text1">
        <h1>Nature flower</h1>
        <p>all in pink</p>
      </div>
      <div class="text text2">
        <h1>Blue Sky</h1>
        <p>with it's mountains</p>
      </div>
      <div class="text text3">
        <h1>Lonely castle</h1>
        <p>in the wilderness</p>
      </div>
      <div class="text text4">
        <h1>Flying eagle</h1>
        <p>in the sunset</p>
      </div>
    </div>
    <div class="slide-right">
      <div class="image image4"></div>
      <div class="image image3"></div>
      <div class="image image2"></div>
      <div class="image image1"></div>
    </div>
    <div class="buttons">
      <button class="btn-left">🡻</button>
      <button class="btn-right">🡹</button>
    </div>
  </div>
</LayoutProyecto>

<style>
  .dia26 {
    width: 100%;
    height: 525px;
    position: relative;
    overflow: hidden;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .slide-left {
    flex: 1;
    height: 100%;
    transform: translateY(0%);
    transition: transform 0.5s linear;
  }

  .slide-right {
    flex: 2;
    height: 100%;
    transform: translateY(-300%);
    transition: transform 0.5s linear;
  }

  .dia26 button {
    padding: 0.6rem;
    color: #ccc;
    background-color: #fff;
    z-index: 1;
    width: 2.5rem;

    &:hover {
      color: #616161;
      opacity: 1;
    }
  }

  .buttons {
    position: absolute;
    inset: 0;
    display: grid;
    min-width: 100%;
    height: 100%;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
  }

  .btn-left {
    background-color: #252e33;
    border-radius: 5px 0 0 5px;
    margin-top: 40px;
    justify-self: end;
  }

  .btn-right {
    background-color: #537283;
    border-radius: 0 5px 5px 0;
    justify-self: start;
    margin-top: -40px;
  }

  .text {
    height: 100%;
    display: grid;
    place-content: center;
    color: #fff;
    text-align: center;
    padding: 0 1rem;

    & h1 {
      font-size: xx-large;
      font-weight: bold;
    }
  }

  .text1 {
    background: #fd3555;
  }

  .text2 {
    background: #2a86ba;
  }

  .text3 {
    background: #252e33;
  }

  .text4 {
    background: #ffb866;
  }

  .image {
    height: 100%;
  }

  .image1 {
    background: url("./src/imagen1.avif") center center/cover;
  }

  .image2 {
    background: url("./src/imagen2.avif") center center/cover;
  }

  .image3 {
    background: url("./src/imagen3.avif") center center/cover;
  }

  .image4 {
    background: url("./src/imagen4.avif") center center/cover;
  }

  @media (max-width: 550px) {
    .dia26 {
      grid-template-columns: 1fr 1fr;
  }

    .buttons {
      grid-template-columns: 1fr 1fr;
  }

  .dia26 button {
    opacity: 0.8;
  }

  }
</style>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const slideL = document.querySelector('.slide-left');
    const slideR = document.querySelector('.slide-right');
    const btnL = document.querySelector('.btn-left');
    const btnR = document.querySelector('.btn-right');

    let slides = slideR.childElementCount;

    let maxPercent = (slides * 100) - 100;
    let minPercent = 0;

    let topPercent = maxPercent;
    let bottomPercent = minPercent;
    //alert(maxPercent);

    btnL.addEventListener('click', ()=> {

      if (bottomPercent == maxPercent) {
         topPercent = maxPercent;
         bottomPercent = minPercent;
      } else {
        topPercent -= 100;
        bottomPercent += 100;
      }
      
      slideL.style.transform = `translateY(-${bottomPercent}%)`;
      slideR.style.transform = `translateY(-${topPercent}%)`;
    })

    btnR.addEventListener('click', ()=> {

      if (topPercent == maxPercent) {
         topPercent = minPercent;
         bottomPercent = maxPercent;
      } else {
        topPercent += 100;
        bottomPercent -= 100;
      }

      slideL.style.transform = `translateY(-${bottomPercent}%)`;
      slideR.style.transform = `translateY(-${topPercent}%)`;
    })


    
  });
</script>
